body 
{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}
.header-fascia h1 
{
    text-align: left; /* Allinea il testo a sinistra */
    font-size: 24px; /* Modifica la dimensione del carattere (puoi cambiarla a tuo piacimento) */
    margin: 0; /* Rimuove il margine predefinito */
    padding: 10px 0; /* Aggiungi un po' di spaziatura verticale se necessario */
}
h1 
{
    color: #333;
}
#proposte 
{
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}
.proposta 
{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
#aggiungi-recensione 
{
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f9fa; /* Grigio molto chiaro */
    border-radius: 8px;
}
form 
{
    display: flex;
    flex-direction: column;
}
label 
{
    margin: 10px 0 5px;
}
input, textarea 
{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button 
{
    padding: 10px;
    background-color: #007BFF; /* Blu */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#discussioni 
{
    margin-top: 20px;
    padding: 20px;
    background-color: #f1f1f1; /* Grigio chiaro */
    border-radius: 8px;
}
#commenti 
{
    margin-bottom: 15px;
}
.commento 
{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; /* Bianco */
}
button:hover 
{
    background-color: #0056b3; /* Blu scuro */
}
h2 
{
    color: #007BFF; /* Blu */
}
