html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    flex-direction: column; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

main {
    flex: 1; 
    padding: 20px;
    margin-top: 40px; 
    margin-bottom: 60px;
}

footer {
    background-color: #4CAF50; 
    color: white;
    text-align: center;
    width: 100%;
    font-size: 12px;
    margin: 0px;
    z-index: 1000;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

header {
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

header h1 {
    font-size: 22px;
    margin: 0;
    color: white;
}

header h1 a {
    color: white; /* Colore bianco */
    text-decoration: none; /* Rimuove la sottolineatura */
}

header h1 a:hover {
    color: white; /* Colore bianco anche al passaggio del mouse */
    text-decoration: none; /* Mantiene nessuna sottolineatura anche al passaggio del mouse */
}

header nav ul.menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul.menu li {
    margin-left: 5px;
}

header nav ul.menu li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

header nav ul.menu li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: underline;
}

/* Hero section */
.hero-tanzania {
    background-image: url('TANZANIA/tanzania-image/tanzaniahero.jpg');
    background-size: cover;
    background-position: center;
    height: 30vh; /* L'hero occupa il 50% dell'altezza della finestra del browser */
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-tanzania h2 {
    font-size: 3em;
    margin: 0;
}

.hero-tanzania p {
    font-size: 1.5em;
    margin-top: 10px;
}

.view-all-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    margin-bottom: 10px;
}

.view-all-button:hover {
    background-color: #218838;
}

/* Sezione delle proposte di viaggio */
#proposte {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.proposta {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.proposta:hover {
    background-color: #f1f1f1;
}

.proposta-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.proposta-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: inherit; /* Mantiene il colore del testo */
    padding: 10px; /* Padding per gestire lo spazio intorno agli elementi */
}

/* Stile per i simboli delle icone */
.proposta-icons img {
    width: 60px; /* Imposta la dimensione delle icone */
    height: 60px;
    margin-left: 10px; /* Spaziatura tra le icone */
}

/* Contenitore per i simboli */
.proposta-icons {
    display: flex;
    align-items: right;
}

/* Icona tipo viaggio */
.trip-icon {
    margin-right: 10px; /* Spaziatura a destra dell'icona tipo viaggio */
}

/* Icona costo */
.price-icon {
    margin-right: 10px; /* Spaziatura a destra dell'icona costo */
}

.proposta h3 {
    margin: 0;
}

.toggle-details {
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 2; /* La freccia rimane sopra il link */
}

.proposta-dettagli {
    display: none; /* Dettagli nascosti di default */
}

.toggle-details.rotated {
    transform: rotate(180deg);
}
#country-description {
    display: flex;
    flex-direction: column;
    width: 100%; /* La larghezza è già stata impostata */
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 5px;
}
    
 #weather-section {
    display: flex;
    justify-content: space-between; /* Per disporre i grafici uno accanto all'altro */
}

#weather-container {
    display: flex;
    flex-direction: column;
    width: 50%; /* La larghezza è già stata impostata */
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#tourist-container {
    width: 50%; /* Anche il contenitore del grafico dei turisti avrà la stessa larghezza */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: 10px; /* Margine per separare i due contenitori */
    padding: 10px;
}
/* Allineamento del titolo h2 al centro */
#tourist-container h2 {
    text-align: center;
    width: 100%; /* Assicura che l'elemento occupi l'intera larghezza del contenitore */
}

/* Allineamento dei titoli h3 a sinistra */
#tourist-container h3 {
    text-align: left;
    width: 100%; /* Assicura che l'elemento occupi l'intera larghezza del contenitore */
}

canvas {
    width: 93%; /* Mantiene la larghezza massima */
    height: auto; /* Imposta l'altezza automaticamente */
    margin: 10px 0; /* Spaziatura tra i grafici */
    padding: 5px;
}

/* Assicura che intro-text abbia la stessa larghezza degli altri contenitori */
#intro-text {
    width: 100%; /* Imposta larghezza 100% */
    max-width: 100%; /* Massima larghezza come gli altri contenitori */
    margin: 0 auto; /* Centra l'elemento */
    box-sizing: border-box; /* Assicura che il padding non aumenti la larghezza */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Stile per l'intero contenitore */
#accommodation-and-photos {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

/* Slider */
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide {
    display: inline-block;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    white-space: nowrap;
}

#accommodation-container, #photos-container {
    width: 48%; /* Ogni slider occupa il 48% della larghezza */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

/* Pulsanti per scorrere le slide */
button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    z-index: 1;
    border-radius: 50%;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:hover {
    background-color: #555;
}

/* Stile per le immagini nello slider delle foto */
.photo-slide {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}


/* Media query per schermi piccoli */
@media screen and (max-width: 768px) 
{
    .header-fascia 
    {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    .menu 
    {
        flex-direction: column;
        align-items: center;
    }
    .menu li 
    {
        margin: 10px 0;
    }
    .menu li a 
    {
        font-size: 18px;
    }
    h1 
    {
        font-size: 24px;
    }
    footer
    {
        font-size: 10px;
    }
        #weather-container {
        width: 90%; /* Più largo sui dispositivi piccoli */
    }
}
